{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}- Home{% endblock %}

{% block content_block %}

    <div class="content">

            <h2 id="content-subheader"> "Simplicity is the Final Achievement. After one has played a vast quantity of notes and more notes it is simplicity that emerges as the crowning achievement of art." - Chopin </h2>
        
            <p> Hey! My name is Vik, and I just wanted to thank you for taking the time to take a look at my blog. Right now, I'm a Software Engineer at Microsoft, but just last year I was finishing my last year in the Computer Science department at <a href="http://McGill.ca"> McGill University</a> in Canada.  
            </p>

            <p>
                 I honestly believe in simple, clean design. As such, in everything I do, I aim to make it as easiy and intuitive as possible. I believe that if you cannot explain a concept in three sentences, then you don't truly understand the concept. 
            </p>
            <img class="selfie" src="../../static/images/vik.png">
        
            <p>
                Please <a href="">Contact Me</a> if you have an idea for a project we can work on together. 
            </p>
        </div>
    </div>



{% endblock %}