{% extends 'blog/base.html' %}
{% load staticfiles %}

    {% block title %} - Post {% endblock %}
     
    {% block content_block %}
    <div class="content">
        <div class="blog-post">
            <h3 id="blog-post-date">
                <time datetime="{{post.created|date:"c"}}"> {{post.date|date}} </time>
            </h3>

            <h2 class="blog-post-title-page">{{post.title}}</h2>
            

            <div class="blog-post-content">{{post.content |safe}}</div>
        </div>          

        <h3 id="other-stories-name"> Other Stories </h3>

        <div class="other-stories">
            {% for post in posts %}
            <div class="quick-story">
                <a href="{{post.get_absolute_url}}"> <h2 id="quick-story-name"> {{post.title}} </h2> </a>
                <h3 id="quick-story-date">
                    <time datetime="{{post.created|date:"c"}}"> {{post.date|date}} </time>
                </h3>
                <p id="quick-story-description"> {{post.short_description}} </p>
            </div>

            {% endfor %}

        </div>
    </div>
    {% endblock %}